a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.top-bloc-header {
	height: 72px;
	background: #343a47; /* Old browsers */
	background: -moz-linear-gradient(top, #343a47 0%, #383f47 18%, #283235 50%, #273134 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #343a47 0%,#383f47 18%,#283235 50%,#273134 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #343a47 0%,#383f47 18%,#283235 50%,#273134 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a47', endColorstr='#273134',GradientType=0 ); /* IE6-9 */
}

	.logo {
		display: flex;
		margin-top: -52px;
	}